@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .logo {
    width: 360px;
    height: 140px;
  }
  
  .tagline {
    font-size: 1.2rem;
    color: #e0c097;
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 280px;
      height: 109px;
    }
    
    .tagline {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      width: 240px;
      height: 93px;
    }
  }

  .container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .carousel {
    height: 100vh;
    width: 100%;
  }
  
  .carouselItem {
    height: 100vh;
    position: relative;
  }
  
  .videoWrapper,
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carouselCaption {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    max-width: 800px;
    height: fit-content;
    min-height: min-content;
    max-height: max-content;
    /* background: rgba(0, 0, 0, 0.2); 
    padding: 20px;
    border-radius: 10px;  */
    z-index: 10;
    transition: all 0.3s ease;
  }
  
  .carouselCaption h1 {
    font-size: 3.5rem;
    color: #c3a602c3 !important;
    margin-bottom: 0.75rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    font-family: 'Playfair Display', serif;
  }
  
  .carouselCaption p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 4;
    font-family: 'Playfair Display', serif;
  }
  
  @media (max-width: 768px) {
    .carouselCaption {
      top: 50%;
      width: 80%;
      padding: 1rem;
    }
  
    .carouselCaption h1 {
      font-size: 2.4rem;
    }
  
    .carouselCaption p {
      font-size: 1rem;
    }
  }
  @media (max-width: 480px) {
    .carouselCaption {
      top: 50%;
      width: 70%;
      padding: 1rem;
    }
    .carouselCaption h1 {
      font-size: 2.2rem;
    }
    .carouselCaption p {
      font-size: 0.8rem;
    }
  }

  .contactUsHome{
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;

  }
  @media (max-width: 2700px) {
    .contactUsHome{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  
  @media (max-width: 1280px) {
    .contactUsHome{
      grid-template-columns: 1fr 1fr ;
   
    }
   
  }
  @media (max-width: 1024px) {
    .contactUsHome{
      grid-template-columns: 1fr 1fr ;
    
    }
   
  }
    @media (max-width: 768px) {
      .contactUsHome{
        grid-template-columns: 1fr 1fr;
      
  
      }
    
  }

  @media (max-width: 480px) {
    .contactUsHome{

      grid-template-columns: 1fr ;
      gap: 1px;
      padding: 1px;
      
    }
   
  }
 

  .carouselButton {
    background-color: rgba(189, 173, 46, 0.4);
    border: 2px solid rgb(225, 185, 8);
    border-radius: 5px;
    padding: 15px 30px;
    color: #f4e688;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .carouselButtonHover {
    background-color: rgb(188, 169, 3);
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    border: 3px solid rgb(225, 185, 8);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    font-weight: 600;
  }
  .carouselButton:hover {
    transform: scale(1.05); /* Slight enlarge on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
  }

  .captionOverlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(2px); /* Optional: adds a slight blur effect */
  }

  .carousel :global(.carousel-item) {
    transition: transform 0.6s ease-in-out;
  }

  .carousel :global(.carousel-item-next:not(.carousel-item-start)),
  .carousel :global(.active.carousel-item-end) {
    transform: translateX(100%);
  }

  .carousel :global(.carousel-item-prev:not(.carousel-item-end)),
  .carousel :global(.active.carousel-item-start) {
    transform: translateX(-100%);
  }

  .carousel :global(.carousel-item-next.carousel-item-start),
  .carousel :global(.carousel-item-prev.carousel-item-end) {
    transform: translateX(0);
  }