.lastSection {
    position: relative;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 20vh; /* Adjust height as needed */
    min-height: 400px; /* Full screen height */
    max-height: 800px; /* Limit height for larger screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff; /* Adjust text color for better contrast */
    padding: 50px 20px;
    overflow: hidden;
   
  }
  
  .lastSection .content {
    position: relative;
    z-index: 1; /* Ensures content is above the background */
    max-width: 800px; /* Center and limit text width */
  }
  
  .lastSection h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .lastSection p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .lastSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a dark overlay for text visibility */
    z-index: 0;
  }