.brandText{
    background-image: linear-gradient(100deg, #a99606 0%, #535202 100%);
    background-color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    
    ;
}

.accountDropdown :global(.dropdown-toggle){
    padding-top: 0;
    padding-bottom: 0;
    d-flex: align-items-center;
    gap: 2px;

}