/* NumberInput.module.css */
.numberInputWrapper {
    position: relative;
    width: 100%;
  }
  
  .label {
    font-size: 20px;
    font-weight: 400;
    color: #e0c097;
    margin-bottom: 10px;
  }
  
  .numberInput {
    width: 100%;
    background-color: #121212;
    color: #e0c097;
    border: 1px solid #e0c097;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    appearance: none;
    -moz-appearance: textfield;
  }
  &::placeholder {
    color:   rgba(#e0c097, 0.65);/* Use the variable from custom-theme.scss */
  }
  
  .numberInput:focus {
    outline: none;
    border-color: #ffcc00;
    box-shadow: 0 0 5px #ffcc00;
  }
  
  .numberInput::-webkit-outer-spin-button,
  .numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .spinButton {
    position: absolute;
    right: 5px;
    width: 24px;
    height: 20px;
    background: linear-gradient(90deg, #66500f, #C5A580);
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .spinButton:hover {
    background: linear-gradient(90deg, #b3a783, #c29445);
    transform: scale(1.05);
  }
  
  .spinButton:active {
    transform: scale(0.95);
  }
  
  .spinUp {
    top: 4px;
    border-radius: 3px 3px 0 0;
  }
  
  .spinDown {
    bottom: 4px;
    border-radius: 0 0 3px 3px;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    color: #fff;
  }

  .addressInput {
    width: 100%;
    padding: 18px;
    font-size: 20px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    background-color: #121212;
    color: #e0c097; /* Font color */
  }
  
  .addressInput::placeholder {
    color: #e0c097; /* Placeholder text color */
    opacity: 1; /* Ensure full visibility of placeholder */
  }
  
  .addressInput:focus {
    border: 1px solid #e0c097; /* Highlighted border color on focus */
    outline: none; /* Removes default focus outline */
    box-shadow: 0 0 5px #ffcc00;
  }